<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodawanie hospitalizacji</title>
</head>
<body>

<div id="wrapper">
    <div id="header">
        <h2>Hospitalizacje formularz</h2>
    </div>
</div>

<div id="container">
    <h3>Zapisz hospitalizację</h3>
    <form action="#" th:action="@{/patient/} + ${patientId} + @{/saveHospitalization}"  method="post">
        <input th:type="hidden" name="id" th:field="${hospitalization.id}" />

        <p>Data początkowa: <input type="text" id="startDate" th:field="${hospitalization.startDate}" /></p>
        <p>Data koncowa: <input type="text" id="finishDate" th:field="${hospitalization.finishDate}" /></p>
        <p>Procedure type: <input type="text" id="hospitalizationCause" th:field="${hospitalization.hospitalizationCause}" /></p>
        <p><input type="submit" value="Zapisz" /> <input type="reset" value="Reset" /></p>
    </form>

    <div style="clear; both;"></div>

    <p>
        <a th:href="@{/patient/} +  ${patientId} + @{/hospitalization}">Do listy hospitalizacji</a>
    </p>

</div>

</body>
</html>
