<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodawanie hospitalizacji</title>
    <div th:insert="partials/head_dependencies :: dependencies">Head Dependencies</div>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hospitalizacje formularz</h1>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" th:href="@{/patient/list}">Do listy pacjentów</a>
    </div>
    <form action="#" th:action="@{/patient/} + ${patientId} + @{/saveHospitalization}"  method="post">
        <input th:type="hidden" name="id" th:field="${hospitalization.id}" />
        <div class="form-group">
            <label for="startDate">Data początkowa</label>
            <input type="date" class="form-control" id="startDate" placeholder="Wpisz datę"
                   th:field="${hospitalization.startDate}">
        </div>
        <div class="form-group">
            <label for="finishDate">Data końcowa</label>
            <input type="date" class="form-control" id="finishDate" placeholder="Wpisz datę"
                   th:field="${hospitalization.finishDate}">
        </div>
        <div class="form-group">
            <label for="hospitalizationCause">Przyczyna hospitalizacji</label>
            <input type="text" class="form-control" id="hospitalizationCause" placeholder="Wprowadź"
                   th:field="${hospitalization.hospitalizationCause}">
        </div>
        <button type="submit" class="btn btn-primary">Zapisz</button>
        <input class="btn btn-danger" type="reset" value="Wyczyść" /></p>
    </form>
</div>

<div th:insert="partials/foot_dependencies :: dependencies">Foot Dependencies</div>
</body>
</html>
