<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Procedury pacjentów</title>
    <div th:insert="partials/head_dependencies :: dependencies">Head Dependencies</div>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Procedury pacjentów</h1>
        <hr class="my-4">
        <input class="btn btn-primary btn-lg" type="button" value="Dodaj procedure"
               onclick="window.location.href='showFormForAddProcedure'; return false;"/>
        <a class="btn btn-primary btn-lg" th:href="@{/patient/list}">Do listy pacjentów</a>
    </div>

    <div class="content">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Procedure type</th>
                <th scope="col">Usun</th>
                <th scope="col">Zmień</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="tempProcedure : ${procedures}">
                <tr>
                    <th scope="row" th:text="${tempProcedure.date}">...</th>
                    <td th:text="${tempProcedure.procedure_type}">...</td>
                    <td><a th:href="@{'delete?procedureId=' + ${tempProcedure.id}}">klik</a></td>
                    <td><a th:href="@{'showFormForUpdate?procedureId=' + ${tempProcedure.id}}">klik</a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<div th:insert="partials/foot_dependencies :: dependencies">Foot Dependencies</div>
</body>
</html>
