<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hospitalizacje</title>
    <div th:insert="partials/head_dependencies :: dependencies">Head Dependencies</div>
</head>
<body>

<div id="wrapper">
    <div id="header">
        <h2>Hospitalizacje</h2>
    </div>
</div>

<input type="button" value="Dodaj hospitalizację"
       onclick="window.location.href='showFormforAddHospitalization'; return false;"
       class="add-button"
/>

<p>
    <a th:href="@{/patient/list}">Do listy pacjentów</a>
</p>

<div id="container">
    <div id="content">
        <!-- add out html table here -->
        <table>
            <tr>
                <th>Poczatek</th>
                <th>Koniec</th>
                <th>Powód</th>
                <th>Usun</th>
                <th>Zmień</th>
            </tr>
            <th:block th:each="tempHospitalization : ${hospitalizations}">
                <tr>
                    <td th:text="${tempHospitalization.startDate}">...</td>
                    <td th:text="${tempHospitalization.finishDate}">...</td>
                    <td th:text="${tempHospitalization.hospitalizationCause}">...</td>
                    <td><a th:href="@{'deleteHospitalization?hospitalizationId=' + ${tempHospitalization.id}}">klik</a></td>
                    <td><a th:href="@{'showFormForHospitalizationUpdate?hospitalizationId=' + ${tempHospitalization.id}}">klik</a></td>
                </tr>
            </th:block>
        </table>
    </div>
</div>


<div th:insert="partials/foot_dependencies :: dependencies">Foot Dependencies</div>
</body>
</html>
