<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Wyswietlanie pacjentow</title>
    <div th:insert="partials/head_dependencies :: dependencies">Head Dependencies</div>
</head>
<body>

    <div id="wrapper">
        <div id="header">
            <h2>Pacjenci</h2>
        </div>
    </div>

    <input type="button" value="Dodaj pacjenta"
           onclick="window.location.href='showFormForAdd'; return false;"
           class="add-button"/>

    <div id="container">
        <div id="content">
            <table>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Płeć</th>
                    <th>Pesel</th>
                    <th>Email</th>
                    <th>Uzuń</th>
                    <th>Zmień</th>
                    <th>Procedury</th>
                    <th>Hospitalizacje</th>
                </tr>
                <th:block th:each="tempPatient : ${patients}">
                    <tr>
                        <td th:text="${tempPatient.firstName}">...</td>
                        <td th:text="${tempPatient.lastName}">...</td>
                        <td th:text="${tempPatient.sex}">...</td>
                        <td th:text="${tempPatient.pesel}">...</td>
                        <td th:text="${tempPatient.email}">...</td>
                        <td><a th:href="@{'delete?patientId=' + ${tempPatient.id}}">usuń</a></td>
                        <td><a th:href="@{'showFormForUpdate?patientId=' + ${tempPatient.id}}">zmień</a></td>
                        <td><a th:href="@{/patient/} +  ${tempPatient.id} + @{/procedure}">klik</a></td>
                        <td><a th:href="@{/patient/} +  ${tempPatient.id} + @{/hospitalization}">klik</a></td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>
    <div th:insert="partials/foot_dependencies :: dependencies">Foot Dependencies</div>
</body>
</html>
