<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodawanie pacjenta</title>
    <div th:insert="partials/head_dependencies :: dependencies">Head Dependencies</div>
</head>
<body>

    <div id="wrapper">
        <div id="header">
            <h2>Tworzenie/modyfikowanie pacjenta</h2>
        </div>
    </div>

    <div id="container">
        <h3>Formularz pacjenta</h3>

        <form action="#" th:action="@{/patient/savePatient}"  method="post">
            <input th:type="hidden" name="id" th:field="${patient.id}" />
            <p>Imię: <input type="text" id="firstName" th:field="${patient.firstName}" /></p>
            <p>Nazwisko: <input type="text" id="lastName" th:field="${patient.lastName}" /></p>
            <p>Płeć: <input type="text" id="sex" th:field="${patient.sex}" /></p>
            <p>Pesel: <input type="text" id="pesel" th:field="${patient.pesel}" /></p>
            <p>Email: <input type="text" id="email" th:field="${patient.email}" /></p>

            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>

        <div style="clear; both;"></div>

        <p>
            <a th:href="@{/patient/list}">Do listy pacjentów</a>
        </p>

    </div>

<div th:insert="partials/foot_dependencies :: dependencies">Foot Dependencies</div>
</body>
</html>
