<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodawanie pacjenta</title>
    <div th:insert="partials/head_dependencies :: dependencies">Head Dependencies</div>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Tworzenie/modyfikowanie pacjenta</h1>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" th:href="@{/patient/list}">Do listy pacjentów</a>
    </div>
    <form action="#" th:action="@{/patient/savePatient}"  method="post">k
        <input th:type="hidden" name="id" th:field="${patient.id}" />
        <div class="form-group">
            <label for="firstName">Imię</label>
            <input type="text" class="form-control" id="firstName" placeholder="Wpisz imię"
                   th:field="${patient.firstName}">
        </div>
        <div class="form-group">
            <label for="lastName">Nazwisko</label>
            <input type="text" class="form-control" id="lastName" placeholder="Wpisz nazwisko"
                   th:field="${patient.lastName}">
        </div>
        <div class="form-group">
            <label for="sex">Płeć</label>
            <input type="text" class="form-control" id="sex" placeholder="Wprowadź płeć"
                   th:field="${patient.sex}">
        </div>
        <div class="form-group">
            <label for="pesel">Pesel</label>
            <input type="text" class="form-control" id="pesel" placeholder="Wprowadź PESEL"
                   th:field="${patient.pesel}">
        </div>
        <div class="form-group">
            <label for="Email1">Email</label>
            <input type="email" class="form-control" id="Email1" placeholder="Wpisz email"
                   th:field="${patient.email}">
        </div>
        <button type="submit" class="btn btn-primary">Zapisz</button>
        <input class="btn btn-danger" type="reset" value="Wyczyść" /></p>
    </form>
</div>

<div th:insert="partials/foot_dependencies :: dependencies">Foot Dependencies</div>
</body>
</html>
