<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodawanie procedury</title>
    <div th:insert="partials/head_dependencies :: dependencies">Head Dependencies</div>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Formularz procedury</h1>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" th:href="@{/patient/list}">Do listy pacjentów</a>
    </div>
    <form action="#" th:action="@{/patient/} + ${patientId} + @{/saveProcedure}"  method="post">
        <input th:type="hidden" name="id" th:field="${procedure.id}" />
        <div class="form-group">
            <label for="date">Data procedury</label>
            <input type="date" class="form-control" id="date" placeholder="Wpisz datę"
                   th:field="${procedure.date}">
        </div>
        <div class="form-group">
            <label for="procedure_type">Typ procedury</label>
            <input type="text" class="form-control" id="procedure_type" placeholder="Procedura"
                   th:field="${procedure.procedure_type}">
        </div>
        <button type="submit" class="btn btn-primary">Zapisz</button>
        <input class="btn btn-danger" type="reset" value="Wyczyść" /></p>
    </form>
</div>

<div th:insert="partials/foot_dependencies :: dependencies">Foot Dependencies</div>
</body>
</html>
