<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodawanie procedury</title>
</head>
<body>

<div id="wrapper">
    <div id="header">
        <h2>Tworzenie/modyfikowanie procedury</h2>
    </div>
</div>

<div id="container">
    <h3>Formularz procedury</h3>

    <form action="#" th:action="@{/patient/} + ${patientId} + @{/saveProcedure}"  method="post">
        <input th:type="hidden" name="id" th:field="${procedure.id}" />

        <p>Data: <input type="text" id="date" th:field="${procedure.date}" /></p>
        <p>Typ procedury: <input type="text" id="procedure_type" th:field="${procedure.procedure_type}" /></p>

        <p><input type="submit" value="Zapisz" /> <input type="reset" value="Reset" /></p>
    </form>

    <div style="clear; both;"></div>

    <p>
        <a th:href="@{/patient/} +  ${patientId} + @{/procedure}">Do listy procedur</a>
    </p>

</div>

</body>
</html>
